<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Who_I_am!</title>
    {% load staticfiles %} {% include 'head.html' %}
</head>

<body>
    <header>
        {% include 'nav.html' %}
    </header>
    <main>
    </main>
    {% include 'footer.html' %}
    <!-- Modal Structure -->
    <div id="modal1" class="modal">
        <div class="modal-content">
            <h4>Modal Header</h4>
            <p>A bunch of text</p>
        </div>
        <div class="modal-footer">
            <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">同意</a>
        </div>
    </div>

</body>

</html>